{% extends "base.html" %}

{% block content %}
<div style="padding: 40px; color: white;">
    <h1>Settings / Account</h1>

    <form method="POST" action="/profile/privacy">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h2>Profile Privacy</h2>

        <label>
            <input type="checkbox" name="is_public" {% if current_user.is_public %}checked{% endif %}>
            Make my profile public
        </label>

        <br><br>

        <button type="submit">Save Settings</button>
    </form>
</div>
{% endblock %}